Source: v128-shell
Section: python
Maintainer: June Tate-Gans <june@theonelab.com>
Build-Depends: debhelper,
               dh-python,
               python3-all-dev,
               python3-setuptools
Priority: optional
Vcs-Git: https://github.com/V128Team/v128-shell
X-Python3-Version: >= 3.5

Package: v128-shell
Section: misc
Priority: optional
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-pywlroots
Description: A wlroots-based compositor shell for the v128
