Source: v128-shell
Build-Depends: debhelper (>= 11), autoconf, automake, wayland-protocols,
 libx11-dev, libweston-9-dev, libfontconfig1-dev, libdrm-dev, libdrm-intel1,
 libdrm-nouveau2, libwld, libxcb-composite0-dev, libxcb-ewmh-dev,
 libxcb-icccm4-dev, libinput-dev
Section: contrib/otherosfs
Priority: optional
Maintainer: June Tate-Gans <june@theonelab.com>
Homepage: http://vice-emu.sourceforge.net/
Standards-Version: 4.3.0

Package: v128-shell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} wayland-protocols, libx11-6,
 libweston-9-0, libwld, libxcb-composite0, libxcb-ewmh2, libxcb-icccm4,
 libinput10
Description: This is the shell for the V128 VICE hardware emulator
