[Unit]
Description=v128 Desktop Shell
BindsTo=user@1000.service

Before=graphical.target
Wants=dbus.socket
After=systemd-user-sessions.service
After=user@1000.service
After=plymouth-quit-wait.service
After=dbus.socket
After=session-c1.scope

ConditionPathExists=/dev/tty0

[Service]
Environment=SYSTEMD_LOG_LEVEL=debug
Environment=LANG=C.UTF-8
ExecStart=/usr/bin/v128-shell
TimeoutStartSec=30
User=root
PAMName=login
WorkingDirectory=/home/user
Restart=on-failure
RestartSec=5s

TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

StandardInput=tty-fail
StandardOutput=journal
StandardError=journal

UtmpIdentifier=tty7
UtmpMode=user

[Install]
WantedBy=graphical.target
